.container {
  padding-left: 3em;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  z-index: 3;
}

.links {
  margin: 1em;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  list-style: none;
}
.links a:hover {
  color: var(--primary);
}
