.container {
  width: 100%;
  margin: 1em 0 0 4em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin: 1em;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  list-style: none;
}
