.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  /* position: relative; */
  height: 100%;
  z-index: -1;
}
.hero-text {
  font-size: 3em;
  text-align: center;
}
