.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  /* position: relative; */
  height: 100%;
  z-index: -1;
}
.hero-text {
  text-align: center;
}

.hero-text > h1 {
  font-size: 8vmin;
}

.hero-text > p {
  font-size: 4.3vmin;
}
